## Content from .ignore
local.mk
target.mk
.*.sw*
make.log

## content from makestuff
makestuff
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
.texdeps/
network.pdf
network.out
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
